/* general styles ----------------------- */
body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:90%;
	color:#272727;
}
h3 {
	font-weight:bold;
	margin:15px 0 5px 0;
}
.audio-container {
	padding:10px 10px 10px 15px;
	font-size:85%;
}
/* player ui container styles -------------- */
#player-ui-container {
	margin-bottom:8px;
	padding-left:10px;
	max-width:800px;
}
#player-ui-container div {
	margin-bottom:10px;
}
#player-ui-container .volume, #player-ui-container .playing, #player-ui-container .loaded {
	clear:both;
	margin-bottom:4px;
}
#player-ui-container .loaded {
	margin-bottom:8px;
}
#player-ui-container .timing {
	font-size:80%;
}
#player-ui-container .ui-slider .ui-slider-handle {
	width:.6em;
} 
#player-ui-container .ui-slider-horizontal .ui-slider-handle {
	margin-left:-.3em;
}
#player-ui-container #player-ui-seek {
	margin:5px 0;
}
#player-ui-container div.player-ui-pause, div.player-ui-play {
	width:38px;
	height:23px;
	text-indent:-9999px;
	float:left;
	margin-right:5px;
}
.player-ui-pause {
	background:url('images/annotate-audio-pause.png') no-repeat;
}
div.player-ui-pause:hover {
	background:url('images/annotate-audio-pause-hover.png') no-repeat;
}
.player-ui-play {
	background:url('images/annotate-audio-play.png') no-repeat;
}
div.player-ui-play:hover {
	background:url('images/annotate-audio-play-hover.png') no-repeat;
}
.player-ui-nowplaying {
	height:24px;
	width:500px;
	background:url('images/annotate-audio-songnamebkgd.gif') repeat-x;
	float:left;
}
.player-ui-song-name {
	padding:3px;
	font-style:italic;
}
.player-ui-load {
	clear:both;
}
.player-ui-loaded, .player-ui-size {
	font-weight:bold;
	letter-spacing:.25px;
	padding:0 3px;
}
#player-ui-container div.player-ui-volcontrol, #player-ui-container div.player-ui-seekcontrol {
	margin-bottom:3px;
}
/* time-marker-container styles --------- */
table {
	border-collapse:collapse;
	font-size:90%;
}
table,th, td {
	border: 1px solid #a8a8a8;
}
th {
	height:20px;
	padding:2px 4px;
	background:url('images/annotate-audio-songnamebkgd.gif') repeat-x;
}
td {
	padding:2px 4px;
}
/* misc styles --------------------------- */
#player { /* hide the player */
	height: 300; 
	width: 400; 
	margin:10px;
}
#mark-range {
  margin-bottom: 4em;
}
#player-ui-new-volume{
    width: 400px;
}
#player-ui-seek{
    width: 400px;
}
#time-marker-container {
	padding-left:10px;
	max-width:800px;
}
.axe_node{
	position: absolute;
	z-index: 500;
	width: 7px;
	height: 7px;
	background-image: url('chrome://zotero-content/skin/annotations/images/axe_blue_small.png');
}
.node_selected{

}
.axe_start_node{
	width: 7px;
	height: 7px;
	background-image: url('chrome://zotero-content/skin/annotations/images/axe_red_small.png');
}
.selectedTime {
	background-color: cyan;
}
